<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <property name="connection.driver_class">com.mysql.cj.jdbc.Driver</property>
		<property name="hibernate.connection.url">jdbc:mysql://192.168.13.182:3306/aves_migratorias</property>
        <property name="connection.username">adminAves</property>
        <property name="connection.password">adminAves1234</property>

        <property name="dialect">org.hibernate.dialect.MySQL8Dialect</property>
        <property name="show_sql">true</property>
        <property name="current_session_context_class">thread</property>
        <property name="hbm2ddl.auto">update</property>

        <mapping class="entities.Provincia"/>
        <mapping class="entities.ZonaObservacion"/>
        <mapping class="entities.Asociacion"/>
        <mapping class="entities.GrupoOrnitologico"/>
        <mapping class="entities.Especie"/>
        <mapping class="entities.Observador"/>
        <mapping class="entities.Observacion"/>
    </session-factory>
</hibernate-configuration>